.dragging {
  opacity: 0.7;
  outline: 2px dashed #3aa;
  z-index: 9999;
}

.dragging-collision {
  outline: 2px dashed rgb(51, 170, 67);
}

body.drag-active {
  cursor: grabbing !important;
}

.jail-drag-active {
  outline: 2px dashed #f90;
}

.drag-hidden {
  opacity: 0 !important;
}
